set ignorecase smartcase incsearch

inoremap hj <esc>
vnoremap hj <esc>
inoremap HJ <esc>
inoremap Hj <esc>

inoremap <C-j> <esc>A;<CR>
inoremap <C-h> <esc>I
inoremap <C-l> <esc>A

vnoremap > >gv
vnoremap < <gv
